
body{
 margin:0;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;


}

.frist-sec{

          background:rgba(0, 0, 0, 0.7) url(images/donation13.jpg);
          background-blend-mode: darken;
          background-size: 100%;
          background-repeat: no-repeat;
          height: 180px;
          padding: 20%;
         


}
.header-sec{
          
          text-align: center;
          color: white;
          
}
.header-sec h1{
          font-size: 60px;
          font-weight:bold;         
}
.header-sec p{
            font-size: 20px;
}
.header-sec button{
          height: 50px;
          padding: 8px;
          border: none;
          border-radius: 5px;
          background-color: tomato;
          color: #fff;
          font-size: 20px;
          font-weight: 600px;
}
.second-sec {
          text-align: center;
          color: black; 
          padding: 150px;
}
.second-sec h2{
          font-size: 40px;
          font-weight:bold;         
}
.second-sec p{
          font-size: 20px;
          padding-bottom: 15px;
}
.donate-box{
          display: flex;
          justify-content: center;
          border-radius: 5px;
          text-align: center;
          

}
.taka{
          margin: 7px;       
          padding: 5px 30px;
          background-color:#f8f8f8;
          color:rgb(112, 105, 105);
          font-size:50px;
          font-weight:bold;
          display: inline-block;
}
.ta-ka{
          margin: 7px;       
          padding: 5px 30px;
          background-color:#fad7d7;
          color:tomato;
          border: 1px solid tomato;
          border-radius: 5px;
          font-size:50px;
          font-weight:bold;
          display: inline-block;   
}
.input-section input{
                    margin-top: 30px;
                    padding: 20px 0px 5px 15px;
                    border: none;
                    font-size: 17px;
                    text-align: center;
                    
}
hr{
        margin: 0px 200px 0px 200px ;

}
.input-section button{
          margin-top: 20px;
                    height: 50px;
                    padding: 8px;
                    border: none;
                    border-radius: 5px;
                    background-color: tomato;
                    color: #fff;
                    font-size: 20px;
                    font-weight: 600px;
}
.third-sec {
          text-align: center;
          color: black; 

}
.third-sec h2{
          font-size: 40px;
          font-weight:bold;         
}
.third-sec p{
          font-size: 20px;
          padding-bottom: 15px;
}
.third-sec img{
        margin-right:300px;

}
.donate-plan{
        display: flex;
        padding: 5%;
        margin-left: 8%;
        margin-right: 8%;
}
.food{
        border-radius: 2%;
        margin-left: 10PX;
        margin-right: 10PX;
        padding-top: 30px;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 30px;
        background-color:#EDF5F6;
}
.shelter{
        border-radius: 2%;
        margin-left: 10PX;
        margin-right: 10PX;
        padding-top: 30px;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 30px;
        background-color:#FFEEEE; 
}
.education{
        margin-left: 10PX;
        border-radius: 2%;
        padding-top: 30px;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 30px;
        background-color:#FFF4D6
}
